// Footer container
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-top: 1px solid #d3d4d4;
}

.git {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
}

// Footer text
.text {
  margin: 0 5px 0 0;

  font-size: 0.8rem;
}

// Footer emoji link
.link {
  text-decoration: none;

  opacity: 1;
  transition: opacity 250ms linear;

  animation: croak 3000ms infinite linear;

  &:hover,
  &:focus {
    opacity: 0.8;

    transition: opacity 250ms linear;
  }
}

// Animation for emoji
@keyframes croak {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
